.features-section p, .content-wrap .write-up p {
    background: #1e1010;
    background-image: linear-gradient(315deg, #2c1806 0%, #181111 77%) !important;
}
.features-section {
    background-color: #a55c1b;
    background-image: linear-gradient(315deg, #170d04 0%, #000000 77%);
}

.era {
    padding-bottom: 30px;
    background: #1b1a1a;
    background-image: linear-gradient(248deg, #201205 0%, #000000 77%) !important;
}